//docs layout styles
body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 1em;
  line-height: 1.8;
  background: #eee;
  width: 100%;
  height: 100%;
}

a:link, a:visited {
  text-decoration: none;
  outline: 0;
}

a:active, a:hover {
  text-decoration: none
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 700
}

h1 {
  font-weight: 600;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  opacity: 1;
  font-size: 3.8em;
  line-height: 50px;

  @include breakpoint(verysmall) {
    margin-bottom: 15px;
    line-height: 30px;
  }

  @include breakpoint(medium) {
    margin-bottom: 10px;
    line-height: 40px;
  }
}

::-moz-selection {
  background: lightgrey;
  text-shadow: none
}

::selection {
  background: lightgrey;
  text-shadow: none
}

p {
  font-size: 1.5em
}

//section one styles
.section-one {
  padding: 0;
  margin-bottom: 0;
  padding: 125px 0 80px;
  overflow: hidden;

  .text-col {
    text-align: center;
    margin-bottom: 100px;
  }

  p.subtitle {
    padding: 0% 10%;
    font-size: 18px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: 0.02em;
    opacity: 1;
    margin-bottom: 20px;

    @include breakpoint(verysmall) {
      font-size: 14px;
      line-height: 20px;
    }

    @include breakpoint(small) {
      font-size: 15px;
      line-height: 24px;
    }

    @include breakpoint(medium) {
      font-size: 16px;
      line-height: 28px;
    }
  }

  .wow {
    visibility: hidden;
  }

  .btn-primary {
    background: grey;
    border-color: grey;
    border-radius: 2px;
    transition: all 250ms;
    margin: 20px;

    @include breakpoint(verysmall) {
      font-size: 14px;
      margin: 5px;
    }

    @include breakpoint(medium) {
      font-size: 14px;
      margin: 10px;
    }

    &:hover {
      background: $s3bootstrapgold;
      transition: all 250ms;
    }

    i {
      margin-right: 5px;
    }
  }
}

.section-one.main-section .large-icon {
  font-size: 175px;
  margin-bottom: 25px;
  color: $s3bootstrapgold;

  @include breakpoint(verysmall) {
    font-size: 100px;
  }

  @include breakpoint(small) {
    font-size: 125px;
  }

  @include breakpoint(medium) {
    font-size: 150px;
  }
}

//section one callout sections
.section-one {

  .callout {
    margin-bottom: 20px;

    @include breakpoint(verysmall) {
      font-size: 14px;
    }

    @include breakpoint(medium) {
      font-size: 14px;
    }
  }

  p {
    letter-spacing: 1px;
    font-size: 14px;
  }

  .icon {
    font-size: 60px;
    line-height: 30px;
    margin-bottom: 10px;

    @include breakpoint(verysmall) {
      font-size: 40px;
      margin-bottom: 5px;
      line-height: 40px;
    }

    @include breakpoint(medium) {
      font-size: 50px;
      line-height: 50px;
    }
  }
}

//section two styles
.section-two {
  margin-bottom: 100px;
}